%h1
  = t('revent.my_team')
%p
  = t('revent.team.register')
= bootstrap_form_for @team, url: {action: 'create'}  do |form|
  %div
    = form.text_field :name
    = form.check_box :has_card_reader
    .row
      .col-md-12
        %h3= t('revent.about_me')
        %p= t('revent.explain_first_participant')
      = form.fields_for :participants do |p|
        = render 'layouts/participant_form', p: p
    .form-group
      %button.btn.btn-block.btn-primary{:type=>'submit'}
        = t('save')